h1{
    color: aliceblue;
    background-color: brown;
    text-align: center;

}
p{
    color: rgb(197, 72, 160);
    background-color: rgb(221, 214, 205);
    text-align: center;
}
#free{
    color: blueviolet;
    background-color: beige;
    text-align: center;
}
.cin01{
    color: rgb(14, 14, 241);
    background-color: bisque;
    text-align: center;
}
.cin02{
    color: rgb(240, 45, 45);
    background-color: aliceblue;
    text-align: center;
}
.cin03{
    color: rgb(124, 15, 226);
    background-color: beige;
    text-align: center;
}
#kotak-satu{
    height: 100px;
    width: 100px;
    background-color: brown;
    margin-bottom: 10px;
}
#kotak-dua{
    height: 100px;
    width: 180px;
    background-color: rgb(172, 35, 35);
    margin-bottom: 10px;
}
#kotak-tiga{
    height: 100px;
    width: 240px;
    background-color: rgb(129, 32, 32);
    margin-bottom: 10px;
}
#kotak-empat{
    height: 100px;
    width: 280px;
    background-color: rgb(90, 26, 26);
}
#bknbgr{
    width: 500px;
    height: 200px;
    color: bisque;
    background-color: brown;
    background-image: url("../css/images/senja.jpeg");
    background-size: cover;
    border-radius: 15px;

}
#bknbgr h2 {
    text-align: center;
    padding-top: 80px;
}
#bknpattern{
    width: 500px;
    height: 200px;
    color: brown;
    background-color: brown;
    background-image: url("../css/images/ptrn.jpg");
    background-repeat: repeat;
    border-radius: 15px;

}
#bknpattern h2 {
    text-align: center;
    padding-top: 80px;
}